<mat-toolbar>
    <div class="toolbar-content">
        <div class="nav-items">
          <button mat-button class="nav-button">Dashboard</button>
          <button mat-button class="nav-button">
            Payments & Transfers
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <button mat-button class="nav-button">
            Suppliers
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <button mat-button class="nav-button">Help Centre</button>
        </div>
        
        <div class="user-section">
          <span class="account-name">N and F solutions</span>
          <button mat-icon-button>
            <mat-icon class="settings-icon">settings</mat-icon>
            <mat-icon class="icon-white">arrow_drop_down</mat-icon>
          </button>
        </div>
      </div>
</mat-toolbar>