/* You can add global styles to this file, and also import other style files */
@use '@assets/styles/variables.scss' as *;
@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.

:root {
  @include mat.toolbar-overrides((
    container-background-color: $app-primary-color,
    container-text-color: $app-text-color-white,
  ));
  @include mat.button-overrides((
    filled-container-color: $app-primary-color,
  ));
  @include mat.tabs-overrides((
    active-indicator-color: $app-primary-color,
  ));
}
:root {
  --mat-select-panel-background-color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
