$app-background-color: white;
$app-primary-color: #1b4f75;
$app-secondary-color: #edf1f5;
$app-tertiary-color: #2c5aa0;
$app-text-color: #424242;
$app-light-border-color: #e0e0e0;
$app-light-text-color: #666;
$app-icon-background-color: #e8f4f8;
$app-icon-help-color: #92d4fa;
$app-card-background-color: #f5f9ff;
$app-text-color-white: white;
$app-warning-color: #ee281a;